* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Century Gothic';
  background: #264653;
}

.header {
  background-color: #E76F51;
  border-bottom: 5px solid #2A9D8F;
  height: 89px;
  overflow: hidden;
}

.header-text {
  font-family: 'Helvetica';
  color: #E9C46A;
  text-align: center;
}

/* topnav bar */
.topnav {
  overflow: hidden;
  background-color: #E9C46A;
}

/* topnav links */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  font-family: 'Verdana';
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 16px;
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px 10px;
}

.gallery img {
  width: 100%;
  max-width: 300px;
  height: 200px;
  object-fit: cover;
  border-radius: 30px;
}

.gallery::after {
  content: "";
  width: 100%;
}
